AutoAI_Life_Expectancy.json
[{"id":"a0b84d15.9d218","type":"tab","label":"Life Expectancy Without Python","disabled":false,"info":""},{"id":"cef9bc54.ae6bc","type":"ui_form","z":"a0b84d15.9d218","name":"","label":"Life Expectancy Prediction","group":"9b7196b1.1ba438","order":5,"width":0,"height":0,"options":[{"label":"Country","value":"A","type":"text","required":false,"rows":null},{"label":"Year","value":"B","type":"number","required":false,"rows":null},{"label":"Status","value":"C","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"number","required":true,"rows":null},{"label":" BMI ","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null}],"formValue":{"A":"","B":"","C":"","a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":140,"y":60,"wires":[["d702fb72.af7748"]]},{"id":"d702fb72.af7748","type":"function","z":"a0b84d15.9d218","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"A\",msg.payload.A);\nglobal.set(\"B\",msg.payload.B);\nglobal.set(\"C\",msg.payload.C);\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\n\n//following are required to receive a token\nvar apikey=\"VNDRgoV49X70f2gg27bbHhWt3jF3a-o7dZDj5Aux_ZKi\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["81f46d8f.6eb6b"]]},{"id":"786220c3.ba743","type":"http request","z":"a0b84d15.9d218","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/9c195a07-d9ca-402d-a5cb-3ea4c13f4bb9/predictions","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":200,"wires":[["a0d6f61c.dcbb18","7d1efe0f.7821b"]]},{"id":"577859f0.da3378","type":"debug","z":"a0b84d15.9d218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":280,"wires":[]},{"id":"a0d6f61c.dcbb18","type":"debug","z":"a0b84d15.9d218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":200,"wires":[]},{"id":"e65aed7e.51b19","type":"function","z":"a0b84d15.9d218","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"0f7d7e14-cd09-4d57-ae11-902db4c85ed9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar A=global.get(\"A\");\nvar B=global.get(\"B\");\nvar C=global.get(\"C\");\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\n\n//send the user values to service endpoint\nmsg.payload = {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"],\n\"values\":[[A,B,C,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]}]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["786220c3.ba743"]]},{"id":"81f46d8f.6eb6b","type":"http request","z":"a0b84d15.9d218","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":120,"wires":[["e65aed7e.51b19"]]},{"id":"2aa72c9a.e89804","type":"ui_text","z":"a0b84d15.9d218","group":"9b7196b1.1ba438","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":420,"wires":[]},{"id":"7d1efe0f.7821b","type":"function","z":"a0b84d15.9d218","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["577859f0.da3378","2aa72c9a.e89804"]]},{"id":"9b7196b1.1ba438","type":"ui_group","z":"","name":"Machine Learning Model","tab":"8593c53.298df38","order":1,"disp":true,"width":"6","collapse":false},{"id":"8593c53.298df38","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]